body {

 background-color: rgb(255, 255, 255);
 text-align: center 

}

.container {

	background-color: white
	padding: 60px 60px;
	margin: 90px 300px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1)

}
		
@media (max-width: 500px) {

	.container{
		width: 400px
	}
}

@media (max-width: 760px) {

	.container {
		width: 600px
	}
}

.card-white-h1 {

	border-bottom: 2px solid black;
	padding: 40px
}
.onebtn {

padding: 80px;

}



h1{

	font-family: 'Bitter', serif;
	font-weight: bolder;
	text-align: center;
	color: black;
	font-size: 30px;
	font-weight: 600
}

p{
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  line-height: 2.7;
  letter-spacing: 0,5px;
  font-weight: bold;
  padding: 80px
}

a{
	text-decoration: none;
	color: black;
	font-family: 'Bebas Neue', cursive;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	
}

a:hover{
	text-decoration: underline; 

}
.img {

border-radius: 50px

}
#img-profile {

	border: 2px solid black;
	margin-top: 33px
}

#btn-EMLV {

border: 2px solid black;
padding: 6px

}

.btn-blue {

background-color: #0096C7

}





